@charset "UTF-8";
.blog-section__block--subtitle-black, .blog-section__block--subtitle {
  margin: 10px 0px;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 18px;
  text-align: left; }

.forkApp-section__wrapper--title {
  padding: 110px 10px 20px 10px;
  color: #ffffff;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 90px; }

.forkApp-section__wrapper--subtitle {
  margin-bottom: 20px;
  font-family: Lato-Regular, ﻿sans-serif;
  font-size: 30px;
  color: #8d81ac; }

.forkApp-section__wrapper--subject {
  font-family: ﻿ ﻿Montserrat-Regular, ﻿sans-serif;
  font-size: 20px;
  color: #848e97; }

.revolutionary-section__wrapper--paragraph {
  font-family: ﻿ ﻿Montserrat-Regular, ﻿sans-serif;
  font-size: 19px;
  margin: 30px; }

.revolutionary-section__wrapper--title {
  padding: 30px;
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 70px;
  color: #635c73; }

@media (max-width: 500px) {
  .revolutionary-section__wrapper--title {
    padding: 0px;
    font-size: 40px; } }

.revolutionary-section__wrapper--subtitle {
  margin: 10px 100px;
  max-width: 900px;
  font-family: ﻿ ﻿Montserrat-Regular, ﻿sans-serif;
  font-size: 19px;
  color: #635c73; }

.hereIs__block--title {
  font-weight: 500;
  font-family: ﻿ Lato-Regular, ﻿sans-serif;
  font-size: 19px;
  color: #323232; }

.hereIs__block--paragraph {
  padding: 30px 0px;
  font-family: ﻿ Lato-Regular, ﻿sans-serif;
  font-size: 19px;
  color: #848e97; }

.steven__block--title {
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 30px;
  color: #635c73;
  padding: 20px 100px 5px; }

@media (max-width: 320px) {
  .steven_block-title {
    font-size: 22px; } }

.steven__block--paragraph {
  padding-left: 100px;
  font-family: ﻿ Lato-Regular, ﻿sans-serif;
  font-size: 16pt;
  color: #8d81ac; }

.people-section__wrapper--title {
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 48px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 100px 0px; }

@media (max-width: 480px) {
  .people-section__wrapper--title {
    font-size: 28px;
    padding: 50px 0px; } }

.suspendisse__paragraph {
  max-width: 900px;
  margin-bottom: 30px;
  font-family: ﻿ Lato-Regular, ﻿sans-serif;
  font-size: 20pt;
  color: black;
  text-align: center; }

.suspendisse__span {
  color: #8d81ac; }

.steven-section__wrapper--date {
  margin-bottom: 60px;
  font-family: ﻿ ﻿Montserrat-Regular, ﻿sans-serif;
  font-size: 21px;
  color: #8d81ac; }

.subscribe-button__section--paragrahp {
  text-align: center;
  font-family: ﻿ Lato-Regular, ﻿sans-serif;
  font-size: 19px;
  color: #848e97; }

.fork-block__content {
  margin: 0px 20px 20px 0px; }

.fork-subscription__wrapper--title {
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 49px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 100px 10px 40px; }

.fork-subscription__wrapper--paragrahp {
  padding: 30px 50px;
  max-width: 1000px;
  font-family: ﻿ ﻿Montserrat-Regular, ﻿sans-serif;
  font-size: 20px;
  color: #a291a5;
  text-align: center; }

@media (max-width: 768px) {
  .fork-subscription__wrapper--paragrahp {
    max-width: 700px;
    padding: 50px 50px; } }

.price-block__title {
  padding: 30px;
  background-color: rgba(255, 255, 224, 0.3);
  font-size: 20px;
  color: white;
  text-align: center; }

.subscribe-section_wrapper--title {
  margin: 40px 15px;
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 40px;
  color: #635c73;
  font-weight: bold; }

@media (max-width: 768px) {
  .subscribe-section_wrapper--title {
    font-size: 30px; } }

.blog-section__block--title {
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 35px;
  color: #d3d1da;
  text-align: left;
  padding: 30px 0px; }

.blog-section__block--subtitle-black {
  color: #323232; }

.blog-section__block--subtitle {
  color: #8d81ac; }

.blog-section__block--paragraph {
  font-family: ﻿ ﻿Montserrat-Regular, ﻿sans-serif;
  font-size: 14px;
  color: #848e97;
  text-align: left; }

.footer-block__title {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 20px;
  color: #323232;
  text-align: left;
  padding-bottom: 5px;
  font-weight: bold; }

.footer-block__paragraph {
  padding: 10px 0px; }

.lala {
  position: absolute;
  top: 40px;
  right: 20px; }

.burger {
  display: none; }
  .burger__label {
    visibility: hidden; }

@media (max-width: 800px) {
  .burger:checked ~ .burger_menu {
    visibility: visible; }
  .burger__label {
    visibility: visible;
    display: block; } }

.burger_menu {
  flex-direction: column;
  display: block;
  visibility: hidden;
  max-width: 150px;
  max-height: 280px;
  padding: 20px 0;
  list-style: none;
  background-color: #ffffff; }
  .burger_menu--item {
    display: block;
    padding: 13px 24px;
    color: #194277;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none; }
    .burger_menu--item:hover {
      background-color: #CFD8DC; }

.main__button {
  margin: 30px 10px;
  padding: 7px 35px 7px 35px;
  border: none;
  border-radius: 28px;
  background-color: #8D81AC;
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 19px;
  color: #ffffff; }
  .main__button:hover {
    background-color: #4fa3c6; }

.button-download {
  display: block;
  position: absolute;
  bottom: -45px;
  left: 0px;
  width: 100%; }

.subscribe-button__section {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 25px; }
  .subscribe-button__section--git-hub {
    max-width: 250px;
    width: 100%;
    padding: 5px 60px;
    background-color: #f3e1e2;
    margin: 0px 35px 5px 0px;
    color: black;
    border: none; }
  .subscribe-button__section--twitter {
    max-width: 250px;
    width: 100%;
    color: white;
    padding: 5px 60px;
    background-color: #4fa3c6;
    border: none;
    margin: 0px 35px 5px 0px; }
  .subscribe-button__section--facebook {
    max-width: 250px;
    width: 100%;
    color: white;
    padding: 5px 60px;
    background-color: #606599;
    border: none; }

@media (max-width: 768px) {
  .subscribe-button__section {
    flex-direction: column;
    align-items: center;
    justify-content: center; } }

.price-block__body--button {
  margin: 20px 50px 80px;
  font-size: 15px;
  color: white;
  width: 60%;
  padding: 5px 20px;
  background-color: rgba(255, 255, 224, 0.3);
  border-radius: 20px;
  border: none;
  text-transform: uppercase; }
  .price-block__body--button:hover {
    background-color: powderblue; }

.subscribe-section__btn {
  border-radius: 28px; }

.blog-section__block--button {
  margin-top: 20px;
  padding: 5px 25px;
  border: none;
  background-color: #eceded;
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 15px;
  color: #8d81ac; }
  .blog-section__block--button:hover {
    background-color: powderblue; }

.header__wrapper, .forkApp-section__wrapper, .revolutionary-section__wrapper, .hereIs-section__wrapper, .people-section__wrapper, .fork-subscription__wrapper, .subscribe-section_wrapper, .blog-section__wrapper, .footer__wrapper {
  margin: 0 auto;
  max-width: 1130px;
  width: 100%;
  position: relative; }

.header__wrapper {
  display: flex;
  flex-wrap: nowrap; }

.logo {
  float: left;
  margin: 35px 30px; }
  .logo__img--pencil {
    padding-right: 10px; }

.header__nav {
  display: flex;
  align-items: center;
  font-family: ﻿ Montserrat-Bold, sans-serif;
  font-size: 19px; }

.menu {
  margin: 35px 20px;
  list-style-type: none;
  display: flex; }
  .menu__list {
    flex-direction: row;
    display: flex;
    padding: 10px; }
  .menu__a {
    text-decoration: none;
    color: #635c73; }

@media (max-width: 800px) {
  .menu {
    display: none; } }

.clear {
  clear: both; }

.padding__bottom {
  padding-bottom: 540px; }

.forkApp-section {
  text-align: center;
  background: url(../img/BG.png) center center no-repeat;
  background-size: cover; }

.revolutionary-section {
  font-family: ﻿ ﻿Montserrat-Regular, ﻿sans-serif;
  color: #848e97;
  text-align: center; }

.hereIs-section {
  background-color: #f4f4f4; }

.hereIs-block__left {
  float: left;
  width: 45%; }

@media (max-width: 900px) {
  .hereIs-block__left {
    width: 95%;
    padding: 0px 10px; } }

.hereIs__block-creatred {
  padding-left: 130px;
  margin-top: 60px;
  background: url(../img/icon-1X.png) left center no-repeat; }

.hereIs__block-incredibly {
  padding-left: 130px;
  background: url(../img/icon2X.png) left center no-repeat; }

.hereIs__block-experimental {
  padding-left: 130px;
  background: url(../img/icon-3X.png) left center no-repeat; }

.hereIs__block-creatred-maecenas {
  padding-left: 130px;
  background: url(../img/icon-4X.png) left center no-repeat; }

.hereIs-block__right {
  float: right;
  width: 45%;
  overflow: hidden; }
  .hereIs-block__right--code {
    font-family: ﻿ Montserrat-Bold, sans-serif;
    font-size: 45px;
    color: #8d81ac;
    font-weight: 600; }
  .hereIs-block__right--img {
    padding: 85px 0px 77px 75px;
    background: url(../img/BG-2.png) no-repeat; }

@media (max-width: 900px) {
  .hereIs-block__right {
    display: none; } }

@media (max-width: 1000px) {
  .hereIs-block__right--code {
    font-size: 30px; } }

.steven-section {
  width: 100%; }

.steven-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .steven-section__wrapper--block {
    margin: 100px 10px 50px;
    background: url(../img/usirpic.png) no-repeat; }
  .steven-section__wrapper--row {
    display: flex;
    justify-content: space-between; }

@media (max-width: 900px) {
  .steven-section__wrapper--row {
    max-width: 500px; } }

@media (max-width: 550px) {
  .steven-section__wrapper--row {
    max-width: 300px; } }

@media (max-width: 320px) {
  .steven-section__wrapper--row {
    max-width: 200px; } }

.people-section {
  background-image: url(../img/BG-3.png); }
  .people-section__wrapper--block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 60px; }

@media (max-width: 768px) {
  .people-section__wrapper--block {
    flex-direction: column;
    margin: 0px 25px; } }

.fork-block {
  font-family: ﻿SourceSansPro-BoldIt, ﻿sans-serif;
  font-size: 19px;
  color: white;
  text-align: center;
  width: 33%; }
  .fork-block__img {
    margin-bottom: 19px; }

@media (max-width: 768px) {
  .fork-block {
    width: 100%; } }

.line {
  margin-top: 80px;
  height: 20px;
  width: 100%;
  background: url(../img/line.png) center no-repeat; }

.fork-subscription-section {
  background: url(../img/BG-3.png); }

.fork-subscription__background {
  background-color: rgba(75, 59, 78, 0.7); }

.fork-subscription__wrapper--all-block {
  font-family: Montserrat-Bold, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0px 30px; }

@media (max-width: 768px) {
  .fork-subscription__wrapper--title {
    font-size: 30px;
    padding: 50px 40px 0px; } }

.price-block {
  text-transform: uppercase;
  flex: 0 0 23%;
  margin: 50px 5px 50px; }
  .price-block:first-child {
    margin-left: 0; }
  .price-block:last-child {
    margin-right: 0; }
  .price-block:hover {
    margin: 80px 15px;
    font-size: 40px;
    background-color: rgba(57, 34, 44, 0.7); }

@media (max-width: 1000px) {
  .price-block {
    flex: 0 0 20%; } }

@media (max-width: 1000px) {
  .price-block {
    flex: 0 0 26%; } }

@media (max-width: 700px) {
  .price-block {
    flex: 0 0 35%; } }

@media (max-width: 500px) {
  .price-block:hover {
    margin: none;
    font-size: 30px;
    background-color: none; } }

@media (max-width: 480px) {
  .price-block {
    flex: 0 0 70%; } }

.price-block__body {
  background-color: rgba(255, 255, 224, 0.2); }
  .price-block__body--price {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 30px 75px;
    font-weight: bold; }
  .price-block__body--month {
    font-size: 10px;
    color: white;
    text-align: center;
    background: url(../img/line-price.png) bottom no-repeat;
    padding-bottom: 35px; }
  .price-block__body--license {
    width: 90%;
    padding: 20px 10px 40px;
    font-size: 15px;
    color: white;
    text-align: center; }

.subscribe-section {
  background-color: #f4f4f4; }
  .subscribe-section_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

@media (max-width: 768px) {
  .subscribe-section_wrapper {
    flex-direction: column;
    align-items: center; } }

.subscribe-section__email {
  border-radius: 20px;
  border: none;
  padding: 10px 20px; }

@media (max-width: 480px) {
  .subscribe-section__email {
    padding: 10px 5px; } }

.blog-section__wrapper--all-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px; }

@media (max-width: 768px) {
  .blog-section__wrapper--all-block {
    margin-bottom: 0px; } }

@media (max-width: 480px) {
  .blog-section__wrapper--all-block {
    flex-direction: column; } }

.blog-section__block {
  max-width: 330px;
  margin: 50px 35px; }

@media (max-width: 768px) {
  .blog-section__block {
    max-width: 200px;
    margin: 10px; } }

@media (max-width: 480px) {
  .blog-section__block {
    max-width: 350px; } }

.footer__wrapper--all-block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ﻿ ﻿Montserrat-Regular, ﻿sans-serif;
  font-size: 17px;
  color: #848e97;
  text-align: left; }

@media (max-width: 768px) {
  .footer__wrapper--all-block {
    align-items: baseline; } }

@media (max-width: 480px) {
  .footer__wrapper--all-block {
    flex-direction: column;
    justify-content: center; } }

.footer-block {
  max-width: 250px;
  padding: 30px; }
  .footer-block__list {
    list-style-type: none; }
    .footer-block__list--anchor {
      color: #848e97;
      text-decoration: none; }
      .footer-block__list--anchor:hover {
        color: crimson; }

@media (max-width: 768px) {
  .footer-block {
    padding: 10px;
    max-width: 150px; } }

@media (max-width: 480px) {
  .footer-block {
    padding: 10px;
    max-width: 350px; } }
